[Desktop Entry]
Encoding=UTF-8
Name=Link to GMB17_public Folder
Type=Link
URL=https://www.dropbox.com/home/public/BLACKBOARD/GMB17_public
Icon=/home/bjorn/Desktop/GMB-Genetica-Molecular-e-Bioinformatica/.continuous_integration/globe-icon.png
Name[en_US]=_Link to GMB17_public Folder Dropbox
